[global]
ioengine=psync
direct=1
numjobs=4
iodepth=4
rw=read
bs=128k
## rw=write, read, randwrite , randread
## bs=128k, 128k , 4k ,4k
runtime=72h
time_based=1

#[dev-sdd]
#filename=/dev/sdd
[dev/nvme0n1]
filename=/dev/nvme0n1
[dev/nvme1n1]
filename=/dev/nvme1n1
[dev/nvme2n1]
filename=/dev/nvme2n1
[dev/nvme3n1]
filename=/dev/nvme3n1
[dev/nvme4n1]
filename=/dev/nvme4n1
[dev/nvme5n1]
filename=/dev/nvme5n1
[dev/nvme6n1]
filename=/dev/nvme6n1
[dev/nvme7n1]
filename=/dev/nvme7n1
[dev/nvme8n1]
filename=/dev/nvme8n1
[dev/nvme9n1]
filename=/dev/nvme9n1
[dev/nvme10n1]
filename=/dev/nvme10n1
[dev/nvme11n1]
filename=/dev/nvme11n1
[dev/nvme12n1]
filename=/dev/nvme12n1
[dev/nvme13n1]
filename=/dev/nvme13n1
[dev/nvme14n1]
filename=/dev/nvme14n1
[dev/nvme15n1]
filename=/dev/nvme15n1
[dev/nvme16n1]
filename=/dev/nvme16n1
[dev/nvme17n1]
filename=/dev/nvme17n1
[dev/nvme18n1]
filename=/dev/nvme18n1
[dev/nvme19n1]
filename=/dev/nvme19n1
[dev/nvme20n1]
filename=/dev/nvme20n1
[dev/nvme21n1]
filename=/dev/nvme21n1
[dev/nvme22n1]
filename=/dev/nvme22n1
[dev/nvme23n1]
filename=/dev/nvme23n1
[dev/nvme24n1]
filename=/dev/nvme24n1
[dev/nvme25n1]
filename=/dev/nvme25n1
[dev/nvme26n1]
filename=/dev/nvme26n1
[dev/nvme27n1]
filename=/dev/nvme27n1
[dev/nvme28n1]
filename=/dev/nvme28n1
[dev/nvme29n1]
filename=/dev/nvme29n1
[dev/nvme30n1]
filename=/dev/nvme30n1
[dev/nvme31n1]
filename=/dev/nvme31n1
[dev/nvme32n1]
filename=/dev/nvme32n1
[dev/nvme33n1]
filename=/dev/nvme33n1
[dev/nvme34n1]
filename=/dev/nvme34n1
[dev/nvme35n1]
filename=/dev/nvme35n1




































































































































































































































































































































































































































































































